<% layout('layouts/boilerplate') %> 


<div class="card mt-3 offset-3 mb-4" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="<%=perfume.product_image%>" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%=perfume.productName%> </h5>
        <p class="card-text"><%=perfume.description%> </p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        <% if (perfume.quantity>0) { %>
          <div class="card-body">
            <a href="/products/<%=perfume.productId%>/buy" class="btn btn-info">Buy Now</a>
          </div>
        <% } else { %>
          <h3>Item is currently out of stock</h3>  
        <% } %> 
        <% if (isAdmin) { %>
          <div class="card-body">
            <form action="/admin/products/<%=perfume.productId%>?_method=DELETE" method="POST" class="mb-1"> 
              <button class="btn btn-danger">Delete</button>
            </form>
            <a href="/admin/products/<%=perfume.productId%>/update" class="btn btn-info">Update</a>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div> 

<% if (currentUser) { %>
  <h4 class="offset-3">Leave A Review</h4>
  <form action="/admin/<%=perfume.productId%>/reviews" method="post" class="offset-3">
    <textarea name="content" id="content" cols="70" rows="7" placeholder="Did you like this product..?"></textarea>
    <label for="rating" style="display: block;">Your Rating</label>
    <select name="rating" id="rating" class="mb-2">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button class="btn btn-submit btn-primary" style="display: block;">Review</button>
  </form>
<% } %>

<h3 class="text-center m-5 fw-bolder">Reviews</h3>

<% reviews.slice().reverse().forEach((element)=> { %>
  <div class="offset-2 mb-3">
    <div class="card-body vw-50"></div>
      <h5 class="card-title"><%= element.fname %> <%= element.lname %><span class="text-muted"> Rated <%= element.rating %>/5 Stars</span> </h5>
      <p class="card-text"><%= element.content %> </p>
      <% if (element.userId == currentUser) { %>
        <form action="/<%=element.reviewId%>/deleteReview?_method=DELETE" method="post" class="mb-1">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <a href="/<%= perfume.productId %>/review/<%= element.reviewId %>/update" class="btn btn-sm btn-info">Update Review</a>
      <% } %>   
    </div>
  </div>
<% }) %> 


